@import "tailwindcss";

@theme {
  --color-primary: hsl(45 100% 55%);
  --color-primary-dark: hsl(45 100% 40%);
  --color-primary-foreground: hsl(0 0% 100%);

  --color-accent: hsl(0 0% 0%);
  --color-accent-foreground: hsl(0 0% 100%);

  --color-secondary: hsl(0 0% 96%);
}
